# Python virtual environment
venv/

# Byte-compiled Python files
__pycache__/
*.pyc

# IDE and editor files
.vscode/
.idea/
*.swp
*.iml

# Operating System files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build and output directories
/dist
/build


/outdb.sqlite3 
db.sqlite3 
/out"db.sqlite3" 


/out

# Django-specific
db.sqlite3
/media/
/staticfiles/

